---
layout: default
---

<div class="home">


  <div class="twitter-wrapper alignright">
    <a class="twitter-timeline" data-height="600" data-width="300" data-dnt="true" data-theme="light" href="https://twitter.com/dj_madeira?ref_src=twsrc%5Etfw">Tweets by dj_madeira</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
  </div>

  <ul class="post-list">
    {% for post in site.posts %}
    {% if post.tags contains "archived" %}
    {% else %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
